    <head>
        <link rel="stylesheet" type="text/css" href="css/style-admin.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="sidebar-bg">
                <div class="sidebar-header">
                    <h3>ADMIN KRS ONLINE UAJY</h3>
                </div>
                       
                        <ul class="list-unstyled components">
                            <li class="active">
                                <a class="menu-sidebar" href="#/dashboard" data-toggle="collapse"><i class="fa fa-calendar-alt i-menu"></i>  Set Tanggal KRS</a>
                            </li>
                            <li>
                                <a class="menu-sidebar" href="#/penawaran"><i class="fa fa-list i-menu"></i>  Display KRS</a>
                            </li>
                            <li>
                                <a class="menu-sidebar" href="#/home"><i class="fa fa-sign-out-alt i-menu"></i>  Log Out</a>
                            </li>
                        </ul>
            </nav>    
        <!-- Page Content Holder -->
        <div id="content">
    
            <nav class="navbar navbar-default">
                <div class="container-fluid">
    
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <h3 class="user-name">Welcome, Andrew</h3>
                    </div>
                    
                </div>
            </nav>
            
            <div class="col-md-12 box-form form-group table-handler">
                    <button class="tooltip-hover btn btn-success" data-toggle="modal" data-target="#popup-add-tgl" title="Add Tanggal KRS" id="add-tgl">Tambah Tanggal KRS <i class="fa fa-plus fa-lg"></i></button>
                
                    <div class="col-md-11">
                        <table datatable="" dt-options="jadwalcontroller.dtOptions" dt-columns="jadwalcontroller.dtColumns" class="row-border hover table-shadow paksa-font" dt-instance="jadwalcontroller.dtInstance">
    
                        </table>
                    </div>
    
            </div>
            
    </div>
    
    <!-- The Modal Add Tanggal -->
    <div id="popup-add-tgl" class="modal">
        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeDetail()">&times;</span>
                <h2>Tambah Tanggal KRS</h2>
            </div>
            <div class="modal-body-tawar-kls col-md-12">
                <div>
                    <div class="form-group awal-modal">
                    <label for="tahun-angkatan" class="font-mode-uajy">Tanggal Mulai : </label>
                      <div class='input-group date' id='datetimepicker1'>
                        <input id="add_tanggal_mulai" type='date' class="form-control input-lg" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
            </div>
            <div>
                    <div class="form-group awal-modal">
                    <label for="tahun-angkatan" class="font-mode-uajy">Waktu Mulai : </label>
                      <div class='input-group date' id='datetimepicker1'>
                        <input id="add_waktu_mulai" type='time' class="form-control input-lg" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
            </div>
            <div>
                <div class="form-group">
                <label for="tahun-angkatan" class="font-mode-uajy">Tanggal Selesai : </label>
                  <div class='input-group date' id='datetimepicker2'>
                    <input type='date' id="add_tanggal_selesai" class="form-control input-lg" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
            </div>
            <div>
                    <div class="form-group awal-modal">
                    <label for="tahun-angkatan" class="font-mode-uajy">Waktu Selesai : </label>
                      <div class='input-group date' id='datetimepicker1'>
                        <input type='time' id="add_waktu_selesai" class="form-control input-lg" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="tahun-angkatan" class="font-mode-uajy">Tahun Angkatan : </label>
                      <select id="add_angkatan" class="form-control input-lg" id="tahun-angkatan" placeholder="Tahun Angkatan (Dari)">
                          <option value="10">2010</option>
                          <option value="11">2011</option>
                          <option value="12">2012</option>
                          <option value="13">2013</option>
                          <option value="14">2014</option>
                          <option value="15">2015</option>
                          <option value="16">2016</option>
                          <option value="17">2017</option>
                          <option value="18">2018</option>
                          <option value="19">2019</option>
                      </select>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="prodi" class="font-mode-uajy">Program Studi : </label>
                    <select id="add_prodi" class="form-control input-lg" id="prodi">
                            <option value="07">Teknik Informatika</option>
                            <option value="06">Teknik Industri</option>
                            <option value="02">Teknik Sipil</option>
                            <option value="01">Teknik Arsktektur</option>
                    </select>  
                </div>
                <div class="form-group">
                    <label for="login-attempt" class="font-mode-uajy">Login Attempt : </label>
                    <input type="number" id="add_kesempatan" class="form-control input-lg" placeholder="Hanya angka" onkeypress="return isNumberKey(event)" />
                </div>
                <div class="form-group ">
                        <button ng-click="jadwalcontroller.addJadwal()" class="btn btn-success col-md-12 ganjal-modal-bawah">Submit</button>
                </div>
        </div>
            </div>
        </div>
    </div>

    <div id="popup-edit-tgl" class="modal">
            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" onclick="closeDetail()">&times;</span>
                    <h2>Ubah Tanggal KRS</h2>
                </div>
                <div class="modal-body-tawar-kls col-md-12">
                
                    <input type="hidden" id="id_edit">
                
                <div>
                        <div class="form-group awal-modal">
                        <label for="tahun-angkatan" class="font-mode-uajy">Tanggal Mulai : </label>
                          <div class='input-group date' id='datetimepicker1'>
                            <input id="edit_tanggal_mulai" type='date' class="form-control input-lg" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                        </div>
                </div>
                <div>
                        <div class="form-group awal-modal">
                        <label for="tahun-angkatan" class="font-mode-uajy">Waktu Mulai : </label>
                          <div class='input-group date' id='datetimepicker1'>
                            <input id="edit_waktu_mulai" type='time' class="form-control input-lg" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                        </div>
                </div>
                <div>
                    <div class="form-group">
                    <label for="tahun-angkatan" class="font-mode-uajy">Tanggal Selesai : </label>
                      <div class='input-group date' id='datetimepicker2'>
                        <input type='date' id="edit_tanggal_selesai" class="form-control input-lg" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
                </div>
                <div>
                        <div class="form-group awal-modal">
                        <label for="tahun-angkatan" class="font-mode-uajy">Waktu Selesai : </label>
                          <div class='input-group date' id='datetimepicker1'>
                            <input type='time' id="edit_waktu_selesai" class="form-control input-lg" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                        </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="tahun-angkatan" class="font-mode-uajy">Tahun Angkatan : </label>
                          <select id="edit_angkatan" class="form-control input-lg" id="tahun-angkatan" placeholder="Tahun Angkatan (Dari)">
                              <option value="10">2010</option>
                              <option value="11">2011</option>
                              <option value="12">2012</option>
                              <option value="13">2013</option>
                              <option value="14">2014</option>
                              <option value="15">2015</option>
                              <option value="16">2016</option>
                              <option value="17">2017</option>
                              <option value="18">2018</option>
                              <option value="19">2019</option>
                          </select>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="prodi" class="font-mode-uajy">Program Studi : </label>
                        <select id="edit_prodi" class="form-control input-lg" id="prodi">
                                <option value="07">Teknik Informatika</option>
                                <option value="06">Teknik Industri</option>
                                <option value="02">Teknik Sipil</option>
                                <option value="01">Teknik Arsktektur</option>
                        </select>  
                    </div>
                    <div class="form-group">
                        <label for="login-attempt" class="font-mode-uajy">Login Attempt : </label>
                        <input type="number" id="edit_kesempatan" class="form-control input-lg" placeholder="Hanya angka" onkeypress="return isNumberKey(event)" />
                    </div>
                    <div class="form-group ">
                            <button ng-click="jadwalcontroller.editJadwal()" class="btn btn-success col-md-12 ganjal-modal-bawah">Submit</button>
                    </div>
            </div>
                </div>
            </div>
        </div>
    
    

             
   
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     

     <script type="text/javascript">
         $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                 $('#sidebar').toggleClass('active');
                 $(this).toggleClass('active');
             });
         });
     </script>
    
    <script>
        function closeDetail() {
        
        document.getElementById("popup-add-tgl").style.display = "none";
        document.getElementById("popup-edit-tgl").style.display = "none";
    }
    </script>

    <script>
        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }    
    </script>
    
    

    <script>
//     function addJadwal() {
    
//     var tanggal_mulai=document.getElementById("add_tanggal_mulai").value;
//     var waktu_mulai=document.getElementById("add_waktu_mulai").value;
//     var tanggal_selesai=document.getElementById("add_tanggal_selesai").value;
//     var waktu_selesai=document.getElementById("add_waktu_selesai").value;
//     var angkatan=document.getElementById("add_angkatan").value;
//     var prodi=document.getElementById("add_prodi").value;
//     var kesempatan=document.getElementById("add_kesempatan").value;
    
//     var kapasitas_kelas=10; 
//     let data = {
//     "mulai": tanggal_mulai+" "+waktu_mulai,
//     "selesai": tanggal_selesai+" "+waktu_selesai,
//     "kode_angkatan": angkatan,
//     "id_prodi": prodi,
//     "kesempatan": kesempatan
// }
//     console.log(data);
//     var store = JSON.parse(localStorage.getItem('ngStorage-currentUser'));
//     let axiosConfig = {
//                 headers: {
//                     'Content-Type': 'application/json;charset=UTF-8',
//                     "Authorization" : "Bearer "+store.token,
//                     "Access-Control-Allow-Origin": "*",
//                 }
//               };
//              axios.post('http://127.0.0.1:5010/api/schedule', data, axiosConfig)  
//              .then((result) => {
//              console.log("RESPONSE RECEIVED: ", result);
//              document.getElementById("popup-add-tgl").style.display = "none";
//              swal("Berhasil", "Jadwal Ditambah", "success");
//              });
             
// };

// function editJadwal() {
    
//     var id_jadwal=document.getElementById("id_edit").value;
//     var tanggal_mulai=document.getElementById("edit_tanggal_mulai").value;
//     var waktu_mulai=document.getElementById("edit_waktu_mulai").value;
//     var tanggal_selesai=document.getElementById("edit_tanggal_selesai").value;
//     var waktu_selesai=document.getElementById("edit_waktu_selesai").value;
//     var angkatan=document.getElementById("edit_angkatan").value;
//     var prodi=document.getElementById("edit_prodi").value;
//     var kesempatan=document.getElementById("edit_kesempatan").value;
    
//     var kapasitas_kelas=10; 
//     let data = {
//     "id_jadwal": id_jadwal,
//     "mulai": tanggal_mulai+" "+waktu_mulai,
//     "selesai": tanggal_selesai+" "+waktu_selesai,
//     "kode_angkatan": angkatan,
//     "id_prodi": prodi,
//     "kesempatan": kesempatan
// }
//     console.log(data);
//     var store = JSON.parse(localStorage.getItem('ngStorage-currentUser'));
//     let axiosConfig = {
//                 headers: {
//                     'Content-Type': 'application/json;charset=UTF-8',
//                     "Authorization" : "Bearer "+store.token,
//                     "Access-Control-Allow-Origin": "*",
//                 }
//               };
//              axios.put('http://127.0.0.1:5010/api/schedule', data, axiosConfig)  
//              .then((result) => {
//              console.log("RESPONSE RECEIVED: ", result);
//              document.getElementById("popup-edit-tgl").style.display = "none";
//              swal("Berhasil", "Jadwal Diubah", "success");
//              });
             
// };
    </script>
    