
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <h3 class="user-name">Welcome, Andrew</h3>
            </div>
        </div>
    </nav>
    
    <div class="col-md-12 box-form form-group">    
        <h2 class="font-mode-uajy">EDIT TANGGAL KRS</h2>
        
        <p class="font-mode-uajy">Atur tanggal pengisian KRS dan tahun angkatan disini, pastikan semua field input terisi dengan benar sebelum di submit untuk menghindari hal yang tidak diinginkan. </p>
        <div>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control input-lg" readonly placeholder="Klik untuk mengeset tanggal" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
        </div>
        <div>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control input-lg" readonly placeholder="Klik untuk mengeset tanggal" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="tahun-angkatan" class="font-mode-uajy">Tahun Angkatan (Dari) : </label>
                  <select class="form-control input-lg" id="tahun-angkatan" placeholder="Tahun Angkatan (Dari)">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                  </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="tahun-angkatan-end" class="font-mode-uajy">Tahun Angkatan (Sampai) : </label>
                <select class="form-control input-lg" id="tahun-angkatan-end">
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                </select> 
            </div> 
        </div>
        <div>
            <div class="form-group">
                <label for="prodi" class="font-mode-uajy">Program Studi : </label>
                <select class="form-control input-lg" id="prodi">
                        <option>Teknik Informatika</option>
                        <option>Teknik Industri</option>
                        <option>Teknik Sipil</option>
                        <option>Teknik Nuklir</option>
                </select>  
            </div>
        </div>
    </div>
        <div class="line"></div>  
        
        <!-- <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input type="text" class="form-control" value="Klik untuk mengeset tanggal" readonly>
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>   
        </div> -->

        
    <!-- <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div> -->
    <div class="line"></div>
